/ h2 Trade with users
/ p Select user
/ form action="/trade" method="post"
/     select name="user"
/         - @result.each do |user|
/             option  #{user.first}
/ vad har usern för kort?
/ hur ska man skicka en request?
/ delete from user_card_join
/ insert med annat user_id