body{
    font-family: Tahoma;
    background-color: snow;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
}
.button{
    color: white;
    background-color: red;
    border-radius: 5px;
}
.card{
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid black;
}
.card.Common{
    background-color: gray;
}
.card.Uncommon{
    background-color: lightgreen;
}
.card.Rare{
    background-color: lightskyblue;
}
.card.Epic{
    background-color: mediumorchid;
}
.card.Legendary{
    background-color: gold;
}
img{
    height: 200px;
    border-radius: 2px;
    border: 2px solid black;
}